* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #ffffff;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(../picture/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    border-image: auto;
}

.profile-card {
    width: 50%;
    min-height: 400px;
    max-height: 500px;
    background: #ffffff;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(8, 14, 18, 0.6);
    border-radius: 12px;
}

.profile-card__img {
    width: 150px;
    height: 150px;
    margin: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgba(165, 93, 209, 0.5);
}

.profile-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card__info {
    text-align: center;
}

.profile-card__info>* {
    margin-bottom: 15px;
    font-weight: 700;
}

.profile-card__info .name {
    color: rgb(106, 206, 242);
    font-size: 20px;
    text-shadow: #bdead4 0px 0px 10px;
}

.profile-card__info .position {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.profile-card__info .location {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.profile-card__social {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-card__social .item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
}

.profile-card__social .item:hover {
    transform: scale(1.2);
}

.facebook {
    background: linear-gradient(45deg, #3b5998 0%, #3b5998 100%);
    box-shadow: 0px 4px 30px rgba(43, 98, 169, 50%);
}

.twitter {
    background: linear-gradient(45deg, #00aced 0%, #00aced 100%);
    box-shadow: 0px 4px 30px rgba(0, 172, 237, 50%);
}

.instagram {
    background: linear-gradient(45deg, #e4405f 0%, #e4405f 100%);
    box-shadow: 0px 4px 30px rgba(228, 64, 95, 50%);
}

.github {
    background: linear-gradient(45deg, #333333 0%, #333333 100%);
    box-shadow: 0px 4px 30px rgba(51, 51, 51, 50%);
}

.website {
    background: linear-gradient(45deg, #d5135a 0%, #e1844e 100%);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 60%);
}